<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_bank"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_bank"
        android:supportsRtl="true"
        android:theme="@style/Theme.AspireBank">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.homecustomer.HomeCustomerActivity" />
        <activity android:name=".ui.bookroom.BookRoomActivity" />
        <activity android:name=".ui.bookroom.BookRoomCheck" />
        <activity android:name=".ui.bookroom.BookRoomList" />
        <activity android:name=".ui.bookroom.BookRoomMap" />
        <activity android:name=".ui.bookroom.BookRoomSuccess" />
        <activity android:name=".ui.bookroom.BookRoomVerifyOTP" />
        <activity android:name=".ui.bookticket.BookTicketActivity" />
        <activity android:name=".ui.bookticket.BookTicketCheck" />
        <activity android:name=".ui.bookticket.BookTicketList" />
        <activity android:name=".ui.bookticket.BookTicketSuccess" />
        <activity android:name=".ui.bookticket.BookTicketVerifyOTP" />
        <activity android:name=".ui.receiptpayment.ReceiptPaymentActivity" />
        <activity android:name=".ui.receiptpayment.ReceiptPaymentCheck" />
        <activity android:name=".ui.receiptpayment.ReceiptPaymentVerifyOTP" />
        <activity android:name=".ui.receiptpayment.ReceiptPaymentSuccess" />
        <activity android:name=".ui.depositphone.DepositPhoneActivity" />
        <activity android:name=".ui.depositphone.DepositPhoneVerifyOTP" />
        <activity android:name=".ui.depositphone.DepositPhoneSuccess" />
        <activity android:name=".ui.notification.NotificationActivity" />
        <activity android:name=".ui.depositaccount.DepositAccountActivity" />
        <activity android:name=".ui.depositaccount.DepositAccountCheck" />
        <activity android:name=".ui.depositaccount.DepositAccountVerifyOTP" />
        <activity android:name=".ui.depositaccount.DepositAccountSuccess" />

        <activity android:name=".ui.homeofficer.HomeOfficerActivity" />
        <activity android:name=".ui.listcustomer.ListCustomerActivity" />
        <activity android:name=".ui.listcustomer.ListCustomerDetail" />
        <activity android:name=".ui.profileofficer.ProfileOfficerActivity" />
        <activity android:name=".ui.rate.RateActivity" />

        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.officer.OfficerDashboardActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AspireBank" />

        <activity
            android:name=".ui.officer.OfficerCustomerListActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AspireBank" />

        <activity android:name=".ui.verify.VerifyOTPActivity" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.savings.SavingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.savings.SavingsConfirmActivity" />
        <activity android:name=".ui.savings.SavingsSuccessActivity" />
        <activity android:name=".ui.savings.SavingsVerifyOTP"/>

        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.register.RegisterFaceAuthActivity" />
        <activity android:name=".ui.register.RegisterSuccessActivity" />

        <activity
            android:name=".ui.transfer.TransferActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.transfer.TransferVerifyOTP" />
        <activity android:name=".ui.transfer.TransferSuccessActivity" />
    </application>
</manifest>